/* Cascading Style Sheet for Character Modeling and the Super Cel Shader */

a {text-decoration: none}

a:link { color: rgb(200,0,0)}
a:visited { color: rgb(128,0,0)}
a:active { color: rgb(255,255,255)}

body { 

    margin: 0;
    font-family: Times, serif;
    color: black;
    background: white; 

  }


